# caso o neo4j sandbox tenha vencido, rodar essas linhas de código nele:
CREATE (bulbasaur:Pokemon {name: 'Bulbasaur', type: 'Grass', evolution: 1, total: 318, hp: 45, attack: 49})
CREATE (ivysaur:Pokemon {name: 'Ivysaur', type: 'Grass', evolution: 2, total: 405, hp: 60, attack: 62})
CREATE (venusaur:Pokemon {name: 'Venusaur', type: 'Grass', evolution: 3, total: 525, hp: 80, attack: 82})
CREATE (charmander:Pokemon {name: 'Charmander', type: 'Fire', evolution: 1, total: 309, hp: 39, attack: 52})
CREATE (charmeleon:Pokemon {name: 'Charmeleon', type: 'Fire', evolution: 2, total: 405, hp: 58, attack: 64})
CREATE (charizard:Pokemon {name: 'Charizard', type: 'Fire', evolution: 3, total: 534, hp: 78, attack: 84})
CREATE (squirtle:Pokemon {name: 'Squirtle', type: 'Water', evolution: 1, total: 314, hp: 44, attack: 48})
CREATE (wartortle:Pokemon {name: 'Wartortle', type: 'Water', evolution: 2, total: 405, hp: 59, attack: 63})
CREATE (blastoise:Pokemon {name: 'Blastoise', type: 'Water', evolution: 3, total: 530, hp: 79, attack: 83})
CREATE (ponyta:Pokemon {name: 'Ponyta', type: 'Fire', evolution: 1, total: 410, hp: 50, attack: 65})
CREATE (rapidash:Pokemon {name: 'Rapidash', type: 'Fire', evolution: 2, total: 500, hp: 65, attack: 100})
CREATE (magikarp:Pokemon {name: 'Magikarp', type: 'Water', evolution: 1, total: 200, hp: 20, attack: 10})
CREATE (gyarados:Pokemon {name: 'Gyarados', type: 'Water', evolution: 2, total: 540, hp: 95, attack: 125})
CREATE (lapras:Pokemon {name: 'Lapras', type: 'Water', evolution: 1, total: 535, hp: 130, attack: 85})
CREATE (moltres:Pokemon {name: 'Moltres', type: 'Fire', evolution: 1, total: 580, hp: 90, attack: 100})
CREATE (mewtwo:Pokemon {name: 'Mewtwo', type: 'Psychic', evolution: 1, total: 680, hp: 106, attack: 150})
CREATE (ralts:Pokemon {name: 'Ralts', type: 'Psychic', evolution: 1, total: 198, hp: 28, attack: 25})
CREATE (kirlia:Pokemon {name: 'Kirlia', type: 'Psychic', evolution: 2, total: 278, hp: 38, attack: 35})
CREATE (gardevoir:Pokemon {name: 'Gardevoir', type: 'Psychic', evolution: 3, total: 518, hp: 68, attack: 65})
CREATE (grass:Type {name: 'Grass'})
CREATE (fire:Type {name: 'Fire'})
CREATE (water:Type {name: 'Water'})
CREATE (psychic:Type {name: 'Psychic'})
CREATE (bulbasaur)-[:IS_TYPE]->(grass)
CREATE (ivysaur)-[:IS_TYPE]->(grass)
CREATE (venusaur)-[:IS_TYPE]->(grass)
CREATE (charmander)-[:IS_TYPE]->(fire)
CREATE (charmeleon)-[:IS_TYPE]->(fire)
CREATE (charizard)-[:IS_TYPE]->(fire)
CREATE (squirtle)-[:IS_TYPE]->(water)
CREATE (wartortle)-[:IS_TYPE]->(water)
CREATE (blastoise)-[:IS_TYPE]->(water)
CREATE (ponyta)-[:IS_TYPE]->(fire)
CREATE (rapidash)-[:IS_TYPE]->(fire)
CREATE (magikarp)-[:IS_TYPE]->(water)
CREATE (gyarados)-[:IS_TYPE]->(water)
CREATE (lapras)-[:IS_TYPE]->(water)
CREATE (moltres)-[:IS_TYPE]->(fire)
CREATE (mewtwo)-[:IS_TYPE]->(psychic)
CREATE (ralts)-[:IS_TYPE]->(psychic)
CREATE (kirlia)-[:IS_TYPE]->(psychic)
CREATE (gardevoir)-[:IS_TYPE]->(psychic)
CREATE (fire)-[:WEAK_TO]->(water)
CREATE (grass)-[:WEAK_TO]->(fire)


